body {
    background-size: cover;
    background: url(/assets/site/mapblue.jpg) no-repeat center;
    margin: 0;
}

.main__container {
    box-sizing: border-box;
    position: relative;
}

.pictures__container {
    box-sizing: border-box;
    float: left;
    height: 60vh;
    padding: 0px;
    position: relative;
    width: 80vw;
}

.small__pictures {
box-sizing: border-box;
float: left;
height:110px;
left: 10px;
margin-left: 30px;
margin-top: 3px;
position: relative;
top: 10px;
width:120px;
}

.details__container {
    background-color: black;
    box-sizing: border-box;
    float: right;
    height: 100vh;
    top: 0;
    width: 18.8vw;
}

.images {
    border-radius: 90%;
    box-sizing: border-box;
    display: block;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
} 

.images:hover {
    border-radius: 90%;
    box-sizing:  border-box;
    cursor: pointer;
}

.image__names {
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
}

.title {
    box-sizing: border-box;
    color: white;
    font-size: 20px;
    text-align: center;
}

.searchBar {
 bottom: 0px;
 position: absolute;
}

#showNoResult {
color: whitesmoke;
}

.names__indetails, 
.bio__indetails {
    color:white;
}